#About{
    position: relative;
    top:20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}
img{
    width:20%;
    border-radius: 50%;
}

.row{
    display: flex;
    gap:1em;
}
