*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* slider start */
.switch {
  position: fixed;
  display: inline-block;
  width: 40px;
  height: 24px;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.styled-link {
  text-decoration: none;
  color: var(--text-color);
}
.styled-link:hover {
  color: var(--hover-color);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 75%;
  width: 42%;
  left: 5%;
  bottom: 12%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  margin: 10px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: var(--text-color);
}

.fa-sun {
  color: var(--text-color);
}

.checkbox-label .ball {
  background-color: var(--text-color);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* slider end */
html {
  overflow-x: hidden;
}
body {
  --text-color: #ffffff;
  --background-color: #000000;
  --hover-color: #ffff00;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
  height: 100vh;
}

.header {
  position: relative;
  top: 0px;
  transform: translateY(50%);
  height: 10vh;
  display: flex;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 40%;
  font-family: "Brush Script MT", cursive;
  transform: translateX(-20%);
}
.firstletter {
  font-size: 5em;
  transform: translateY(-10%);
}
.remaining {
  font-size: 2em;
}
.logo:hover {
  color: var(--hover-color);
  cursor: pointer;
}
.sections {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}
.sections div {
  display: inline-block;
  position: relative;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 5em;
  text-align: center;
  transition: 0.5s;
}
.sections div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: -5px;
  transform-origin: center;
  transform: scaleX(0);
  background-color: var(--hover-color);
  transition: 0.2s;
}
.sections div:hover:after,
.sections div:hover {
  cursor: pointer;
  color: var(--hover-color);
  transform: scaleX(1);
  letter-spacing: 0.2em;
}

.mobilemenu {
  position: absolute;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 0.8em;
  right: 1em;
  width: 30px;
  height: 20px;
  z-index: 2;
  background: none;
  border: none;
}
.mobilemenu .bar {
  background-color: var(--text-color);
  width: 100%;
  height: 2px;
  border-radius: 10px;
}

.p5Canvas {
  position: relative;
  z-index: -10;
}
@media only screen and (max-width: 768px) {
  .mobilemenu {
    display: flex;
    z-index: 10;
  }
  .sections {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2em;
    height: 110vh;
    transform: translate(100%, -50px);
    top: 17px;
    padding-top: 120px;
    right: 0px;
    background-color: hsla(0, 0%, 53%, 0.5);
    backdrop-filter: blur(1rem);
    transition: 0.5s transform;
  }
  .sections[active="true"] {
    transform: translate(0%, -50px);
    transition: 0.5s transform;
    z-index: 3;
  }
  .logo {
    width: 60vw;
    transform: translateX(30%);
  }
}
